
@import url('https://fonts.googleapis.com/css2?family=Bad+Script');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
	background: #060c21 ;
 ;

}
h1{
margin-top: 50%;
font-family: 'Bad Script', cursive;

padding: 0;
color: #111;
font-size: 5em;
}
h1 span
{
	display: table-cell;
	margin: 0;
padding: 0;
animation: animate 2s linear infinite;
}

h1 span:nth-child(1)
{
	animation-delay: 0s;

}
h1 span:nth-child(2)
{
	animation-delay: 0.25s;
	
}
h1 span:nth-child(3)
{
	animation-delay: 0.5s;
	
}
h1 span:nth-child(4)
{
	animation-delay: 0.75s;
	
}
h1 span:nth-child(5)
{
	animation-delay: 1s;
	
}
h1 span:nth-child(6)
{
	animation-delay: 1.25s;
	 
}
h1 span:nth-child(7)
{
	animation-delay: 1.5s;
	
}
@keyframes animate {

0%,100%
{
	color: #fff;
	filter: blur(2px);
	text-shadow: 0 0 10px #03e9f4  ,
	            0 0 20px #03e9f4,
	            0 0 40px #03e9f4,
0 0 80px #03e9f4,
0 0 120px #03e9f4,
0 0 200px #03e9f4,
0 0 300px #03e9f4;          

}

5%,95%
{
	color: #111;
	filter: blur(0px);
	text-shadow: 0 0 10px none ;
}

}
a{position: relative;
	display: inline-block;
	padding: 25px 30px ;
	margin: 40px 0;
	color: #03e9f4 ;
	font-size: 24px;
	text-decoration: none ;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s ;
	letter-spacing: 4px;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

a:hover {
	background: #03e9f4 ;
	color: #050801;
	box-shadow: 0 0 5px #03e9f4,
	            0 0 25px #03e9f4,
	            0 0 50px #03e9f4,
	            0 0 200px #03e9f4;

}
a span
{
	position: absolute;
	display: block;
	
}

a span:nth-child(1)
{
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#03e9f4);
	animation: animate1 1s linear infinite ;

}
@keyframes animate1
{ 
0%
{
	left: -100% ;
} 
50%,100%
{
	left: 100% ;
}
 }


a span:nth-child(2)
{
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#03e9f4);
	animation: animate2 1s linear infinite ;
	 animation-delay: 0.25s;
}
@keyframes animate2
{ 
0%
{
	top: -100%;
}
50%,100%
{
	top: 100% ;
}
 }

a span:nth-child(3)
{
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,#03e9f4);
	animation: animate3 1s linear infinite ;
	 animation-delay: 0.5s;
}
@keyframes animate3
{ 
0%
{
	right: -100%;
}
50%,100%
{
	right: 100% ;
}
 }


a span:nth-child(4)
{
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100% ;
	background: linear-gradient(360deg,transparent,#03e9f4);
	animation: animate4 1s linear infinite ;
	 animation-delay: 0.75s;
}
@keyframes animate4
{ 
0%
{
	bottom: -100%;
}
50%,100%
{
	bottom: 100% ;
}
 }




input {
	margin-top: 30% 
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 60%;
}

.container{
	margin-bottom: 80px;
	margin-top: 100px;
	position: relative;
	width: 90% ;
	display: grid ;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-template-rows: auto;
	grid-gap: 0 40px;


}


.container .box
{
	position: relative;
	height: 400px ;

	background: #060c21 ;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
}

.container .box:before
{
content: '';
position: absolute;
top: -2px;
left: -2px;
right: -2px;
bottom: -2px;
background: #fff ;
transform: skew(2deg,2deg);
z-index: -1 ;
}
.container .box:nth-child(1):before
{ 
	background: linear-gradient(315deg,#ff0057,#e64a19);
}
.container .box:nth-child(2):before
{
	background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.container .box:nth-child(3):before
{
	background: linear-gradient(315deg,#e91e63,#5d02ff);
}
.container .box:nth-child(4):before
{
	background: linear-gradient(315deg,#ff0000,#ffc107);
}
.container .box:after
{
	content: '';
position: absolute;
top: 0;
left: 0;
width: 50% ;
height: 100% ;
background: rgba(255,255,255,0.05); 
pointer-events:  none ;

}
.content{
	position: absolute;
	padding: 20px;
	transform: translateY(40px);

}


.icon
{
	top: 20px;
	left: calc(50% - 40px);
	width: 80px ;
    height: 80px;
    border-radius: 50%;
}

.icon .fa
{
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%,50%);
	font-style: 150px;
	transition: 0.5s;
	color: #fff ;
	font-size: 40px ;
}

.icon .fa
{
	top: 3%;
	font-size: 40px ;
}



.box .content h2
{
	position: absolute;
	top: -60px;
	right: 20px;
	margin: 0;
	padding: 0;
	font-size: 25px;
	color: #fff;
	transition: 0.5s;

}

 .box:hover .content h2
 {

 	top: -140px;
 }

.box .content h3
{
margin: 0 0 10px;
padding: 0;
font-size: 24px ;
font-weight: 500 ;
color: #fff ;

}
.box .content p
{
	margin:0;
	padding: 0;
	color: #fff ;
	font-size: 16px;

}
.box .content a
{
position: relative;
margin: 20px 0 0;
padding: 10px 20px;
text-decoration: none ;
border: 1px solid #fff;
display: inline-block;
color: #fff;
transition: 0.5s;
transform: translateY(-40px);

opacity: 0;
visibility: hidden;
}

.box:hover .content a
{
	transform: translateY(0);
	opacity: 1;
visibility: visible;
}

.box .content a:hover
{
color: #000;
background: #fff ;
}





footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}
